.video{
    position: relative;
    margin-top: 60px;
    max-width: 700px;
      margin: auto;
  }
  .video::before{
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 51px);
    background-color: transparent;
    z-index: 5;
  }
  .video::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 39px;
    background-color: transparent;
    z-index: 5;
    bottom: 4px;
    right: 51px;
  }
  .phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 26px;
    padding: 4px 6px;
    background-color: #ffffff12;
    opacity: 0.5;

  }